* {
  box-sizing: border-box;
}

body {
    background-color: rgb(191, 203, 224);
  /* background-image: url("../images/background.jpg"); */
  font-family: "Roboto", sans-serif;
}

.jumbotron {
  background-color: rgb(139, 176, 231);
  text-align: center;
  font-family: "Bubblegum Sans", cursive;
}
