* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/background.jpg");
  font-family: "Roboto", sans-serif;
}

.jumbotron {
  background-color: rgb(14, 195, 219);
  text-align: center;
  font-family: "Bubblegum Sans", cursive;
}
